<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Facebook, <%= @user.first%></h1>

    <p>
      Thanks for signing up on odin facebook. A facebook clone made using rails!
      your username is: <%= @user.username %>.<br>
    </p>
    <p>
      To login to the site, just follow this link: <a href="<%= @url %>">Facebook odin clone</a>  
    </p>

    <p>
      You can now view other people's profile, see what they are up to in their daily life and friend people from all over the world while also sharing the fun in your life with others
    </p>

    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
