<div class="h-screen flex justify-center items-center -mt-20">
  <div class="rounded-lg shadow-2xl w-2/4 h-52">
    <!-- Top band  --> 
    <div class="flex justify-start w-full h-8 bg-blue-600 rounded-t-lg ">
      <div class="flex justify-center items-center w-h-full">
        <%= link_to 'Back', homes_path, class: 'flex items-center justify-center  ml-4 font-semibold text-white' %>
      </div>
    </div>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <div class="m-4 space-y-2">
        <p class="text-sm font-normal text-gray-700">Enter your email for a password reset mail.</p>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email", class: "outline-none border border-solid border-gray-200 focus:border-blue-300 pl-2 rounded w-full h-9" %>
      </div>

      <div class=" m-4">
        <%= f.submit "Submit", class: "w-full bg-blue-700 rounded text-white font-semibold py-1 mt-4"%>
      </div>

    <% end %>
  </div>
</div>
