<div class="flex bg-red-300">

  <div class="left-side-bar bg-blue-200 w-1/4">
    <div class="flex ml-2 mt-2 justify-start">
      <div class="flex justify-between">
        <div>Lorem, ipsum.</div>
        <div>Lorem, ipsum.</div>
      </div>
    </div>
  </div>
  
  
  
  <div class="flex justify-center bg-yellow-200 w-full"><div class="flex flex-col">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ad, qui?</div></div>
  <div class="right-side-bar bg-green w-1/4">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Libero recusandae nam, quod sit ipsum excepturi. Et quidem dolores rem assumenda.</div>

</div>